.link {
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    color: lightpink;
    background-color: lightseagreen;
}

.card {
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#first-kid {
    background-color: purple;
}
